*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: aliceblue;
}

.inner-container{
    margin: auto;
    border: 4px solid #ffffff ;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right div{
    padding: 20%;
}
img{
  filter: invert(1);
    padding: 2%;
    width:100%;
    z-index: -1;
}
.inner-container h1{
    margin: auto;
    text-align: center;
    margin-top: 20%;
}


@media screen and (max-width:1200px){
    .inner-container{
        padding: 50px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}






  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

  ::-webkit-scrollbar {
    width: 1px;
  }


  button{
          color: white;
          padding-top: 10 px;
          /* padding-bottom: 10px; */
          padding-left: 5px;
          padding-right: 5px;
          background:transparent;
          border: gray;
          border-radius:300px;
          z-index: 1;
      }
  div {
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
  }


  :active,
  :hover,
  :focus {
    outline: 0 !important;
    outline-offset: 0;
  }

  ::before,
  ::after {
    position: absolute;
    content: "";
  }

  /* .btn-holder {
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 1000px;
margin: 10px auto 35px;
border: 2px solid red;
} */
  .btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 15px 15px;
    /* min-width: 150px; */
  }

  .btn span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    top: 0;
    left: 0;
    margin: 00%;
    padding: 15px 25px;
    transition: 0.3s;
  }



  .btnn span {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.274);
  }

  .btnn span:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }

  .btnn::before,
  .btnn::after {
    width: 15%;
    height: 4px;
    background-color: rgb(140,140,140);
    z-index: 2;
  }


  .btn.hover-border::before,
  .btn.hover-border::after {
    bottom: 0;
    transition: width 0.2s 0.35s ease-out;
  }

  .btn.hover-border::before {
    right: 50%;
  }

  .btn.hover-border::after {
    left: 50%;
  }

  .btn.hover-border:hover::before,
  .btn.hover-border:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;
  }

  .btn.hover-border span::before,
  .btn.hover-border span::after {
    width: 0%;
    height: 0%;
    background: transparent;
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
  }

  .btn.hover-border span::before {
    bottom: 0;
    left: 0;
    border-left: 2px solid rgb(140,140,140);
    border-top: 2px solid rgb(140,140,140);
  }

  .btn.hover-border span::after {
    bottom: 0;
    right: 0;
    border-right: 2px solid rgb(140,140,140);
    border-top: 2px solid rgb(140,140,140);
  }

  .btn.hover-border span:hover::before,
  .btn.hover-border span:hover::after {
    width: 50%;
    height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;
  }