.container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 60%;
  align-items: center;
  justify-content: center;  
  overflow-x: hidden;
  padding-top: 100px;
}
.graph{
  font-size: larger;
  font-weight: 500;
}
.graph div{
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  width: 85vw;
}
.skillSet{
  border-radius: 5px;
  margin: 2px 2px;
  /* padding: 10px 15px; */
  padding: 20px 20px;
}
#pro{
  background: rgb(255, 246, 125);
  width: 22%;
}
#fro{
  background: rgb(124, 214, 255);
  width: 30%;
}
#bac{
  background: pink;
  width: 25%;
}
#dat{
  background: rgb(102, 255, 102);
  width: 20%;
}
#dev{
  background: cyan;
  width: 20%;
}

.op{
  opacity: 0.8;
}
.proL{
  height: 200px;
}
.froL{
  height: 200px;
}
.bacL{
  height: 200px;
}
.datL{
  height: 200px;
}
.devL{
  height: 200px;
}